body {
    font-size: 16px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

$blue : #269ed7;
$navy-blue : #3f6095;
$blue-2 : #00b1cc;
$green : #1fb151;
$yellow: #fca326;
$pink : #e21f6d;
$orange:#fd4f17;
$purple : #8f52a1;


.wt {
    color: #FFF !important
}

@mixin gradient-default($angle, $start-color, $end-color, $start-percent: 0%, $end-percent: 100%) {
    background-image: linear-gradient($angle, $start-color $start-percent, $end-color $end-percent);
    background-repeat: repeat-x;
}

@mixin gradient-repeating($angle, $color-1, $color-2, $color-3, $color-4) {
    background-image: repeating-linear-gradient($angle, $color-1, $color-2 160px, $color-3 160px, $color-4 320px);
    background-repeat: repeat-x;
}

.grad {
    &-1 {
        @include gradient-default(to right, $blue, $pink);
    }

    &-2 {
        @include gradient-default(to right, $orange, $yellow);
    }

    &-v-1 {
        @include gradient-default(to top, $blue, $pink);
    }

    &-v-2 {
        @include gradient-default(to top, $orange, $yellow);
    }

    &-v-3 {
        @include gradient-default(to top, $purple, $navy-blue);
    }
}

.gradient-bar {
    @include gradient-repeating(to right, $orange, $yellow, $blue, $pink);
    height: 6px;
}

.text {
    &-white {
        color: #FFF
    }

    &-green {
        color: $green
    }

    &-blue {
        color: $blue
    }

    &-pink {
        color: $pink
    }

    &-orange {
        color: $orange
    }

    &-purple {
        color: $blue
    }

    &-yellow {
        color: $yellow
    }

    &-navy-blue {
        color: $navy-blue
    }
}


.bg {
    &-white {
        background-color: #FFF
    }

    &-green {
        background-color: $green
    }

    &-blue {
        background-color: $blue
    }

    &-pink {
        background-color: $pink
    }

    &-orange {
        background-color: $orange
    }

    &-purple {
        background-color: $purple
    }

    &-yellow {
        background-color: $yellow
    }

    &-navy-blue {
        background-color: $navy-blue
    }

    &-blue-2 {
        background-color: $blue-2
    }
}


.btn {
    border-width: 2px;
    border-radius: 50px;
    padding: 11px 30px;
    height: 50px;
    transition: all ease .3s;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);

    &-grad-1 {
        @extend .grad-1;
    }

    &-grad-2 {
        @extend .grad-2;
    }

    &:hover {
        box-shadow: inset 0 0 30px 30px rgba(0, 0, 0, 0.25);
    }


    &-green {
        background: $green;
        @extend .wt;

        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(16, 201, 94, 0.25);
        }
    }

    &-white {
        background: #FFF;

        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(#FFF, 0.25);
        }
    }

    &-blue {
        background: $blue;
        @extend .wt;

        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 164, 255, 0.25);
        }
    }

    &-yellow {
        background: $yellow;
        @extend .wt;

        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($yellow, 0.25);
        }
    }

    &-orange {
        background: $orange;
        @extend .wt;

        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($orange, 0.25);
        }
    }

    &-pink {
        background: $pink;
        @extend .wt;

        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($pink, 0.25);
        }
    }

    &-purple {
        background: $purple;
        @extend .wt;

        &:focus,
        &.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($purple, 0.25);
        }
    }

    &-bordered {
        color: #FFF;
        border-width: 2px;

        &:hover {
            color: #FFF;
        }
    }

}

a:hover {
    text-decoration: none
}

textarea {
    resize: vertical;

    &.auto-height {
        height: auto !important;
    }
}


$fontWeight: fw-;

@for $fw from 1 through 9 {
    .#{$fontWeight}#{$fw}#{0}#{0} {
        font-weight: #{$fw}#{0}#{0};
    }
}

$mb: mb-;

@for $mrb from 1 through 10 {
    .#{$mb}#{$mrb}#{0} {
        margin-bottom: #{$mrb}#{0px} !important;
    }
}

$mt: mt-;

@for $mrt from 1 through 10 {
    .#{$mt}#{$mrt}#{0} {
        margin-top: #{$mrt}#{0px} !important;
    }
}

$ml: ml-;

@for $mrl from 1 through 10 {
    .#{$ml}#{$mrl}#{0} {
        margin-left: #{$mrl}#{0px} !important;
    }
}

$mr: mr-;

@for $mrr from 1 through 10 {
    .#{$mr}#{$mrr}#{0} {
        margin-right: #{$mrr}#{0px} !important;
    }
}

$pb: pb-;

@for $padb from 1 through 10 {
    .#{$pb}#{$padb}#{0} {
        padding-bottom: #{$padb}#{0px} !important;
    }
}

$pt: pt-;

@for $padt from 1 through 10 {
    .#{$pt}#{$padt}#{0} {
        padding-top: #{$padt}#{0px} !important;
    }
}

$pl: pl-;

@for $padl from 1 through 10 {
    .#{$pl}#{$padl}#{0} {
        padding-left: #{$padl}#{0px} !important;
    }
}

$pr: pr-;

@for $padr from 1 through 10 {
    .#{$pr}#{$padr}#{0} {
        padding-right: #{$padr}#{0px} !important;
    }
}

$width: width-;

@for $widthr from 1 through 10 {
    .#{$width}#{$widthr}#{0} {
        width: #{$widthr}#{0%} !important;
    }
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.static {
    position: static;
}

.btn-radius {
    border-radius: 100px !important;
}

.rounded {
    border-radius: .25rem
}

.circle {
    border-radius: 100px
}

.section {
    padding: 50px 0;
}